<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/main.css">
    <title>{{title}}</title>
</head>
<body>
<div id="page-content">
    <header>
        {{#if hasUser}}
        <div class="username-container">
            <a href="/">Welcome, {{username}}</a>
        </div>
        {{/if}}
        <nav class="main-nav {{#unless username}}right-nav{{/unless}}">
            <ul class="{{#unless username}}right-ul{{/unless}}">
                {{#if hasUser}}
                <li><a href="/catalog">Browse</a></li>
                <li><a href="/create">Host</a></li>
                <li><a href="/facility/create">Facility</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li><a href="/about">About</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        {{{body}}}
    </main>
    
    <footer class="main-footer">
       Antoan Parashkevov &copy; 2022
    </footer>
</div>
</body>
</html>