<section>
    <h1>All Accommodations</h1>
    <main>
        <p>Search</p>
        <div>
            <form action="/catalog" method="get">
                <input type="text" placeholder="Name" name="name" value="{{name}}">
                <input type="text" placeholder="Location" name="location" value="{{location}}">
                <input type="number" placeholder="From Price" name="fromPrice" value="{{fromPrice}}">
                <input type="number" placeholder="To Price" name="toPrice" value="{{toPrice}}">
                <input type="submit" value="Search">
            </form>
        </div>
    </main>
        <ul>
                {{#each rooms}}
                    {{>roomCard}}
                {{/each}}
        </ul>
    
<!--    TODO if we don't have any data to display something-->
    
</section>