<section>
    <h1>All Accommodations</h1>
    <main>
        <p>Search</p>
        <div>
            <form action="/catalog" method="get">
                <input type="text" placeholder="Search" name="search" value="{{search}}">
                <input type="submit" value="Search">
            </form>
        </div>
    </main>
        <ul>
                {{#each rooms}}
                    {{>roomCard}}
                {{/each}}
        </ul>
    
<!--    TODO if we don't have any data to display something-->
    
</section>