<section>
    <h1>New Accommodation</h1>
    {{#if error}}
    <div>
        {{#each error}}
            <div>{{this}}</div>
        {{/each}}
    </div>
    {{/if}}
    <form action="/create" method="post">
        <div>
            <label for="name">
                <span>Name</span>
                <input type="text" name="name">
            </label>
        </div> 
        <div>
            <label for="description">
                <span>Description</span>
                <textarea rows="5" name="description"></textarea>
            </label>
        </div> 
        <div>
            <label for="location">
                <span>Location</span>
                <input type="text" name="location">
            </label>
        </div>
        <div>
            <label for="price">
                <span>Price</span>
                <input type="number" name="price">
            </label>
        </div>
        <div>
            <label for="beds">
                <span>Beds</span>
                <input type="number" name="beds">
            </label>
        </div>
        <div>
            <label for="imgUrl">
                <span>Image</span>
                <input type="text" name="imgUrl">
            </label>
        </div>
        <input type="submit" value="Publish">
    </form>
</section>