<section>
    <h1>New Facility</h1>
    {{#if error}}
        <div>
            {{#each error}}
                {{this}}
            {{/each}}
        </div>
    {{else}}
        <form action="/facility/create" method="post">
            <div>
                <label for="label">
                    <span>Label</span>
                    <input type="text" name="label">
                </label>
            </div>
            <div>
                <label for="iconUrl">
                    <span>Icon Url</span>
                    <input type="text" name="iconUrl">
                </label>
            </div>
            <button>Create</button>
        </form>
    {{/if}}
</section>