<section>
    <h1>New Facility</h1>
    {{#if error}}
        <div>
            {{#each error.messages}}
               <div>{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
        <form action="/facility/create" method="post">
                <div>
                <label for="label">
                    <span>Label</span>
                    <input type="text" 
                           {{#if error.fields.label}}style="border: 2px solid red;"{{/if}} 
                           name="label" value="{{body.label}}">
                </label>
            </div>
            <div>
                <label for="iconUrl">
                    <span>Icon Url</span>
                    <input type="text" 
                           {{#if error.fields.iconUrl}}style="border: 2px solid red;"{{/if}} 
                           name="iconUrl" value="{{body.iconUrl}}">
                </label>
            </div>
            <button>Create</button>
        </form>
</section>