<section>
    <h1 class="main-header">New Facility</h1>
    {{#if error}}
        <div class="error-box">
            {{#each error.messages}}
                <div class="error-field">{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
    <div class="form-wrapper">
        <form action="/facility/create" method="post">
            <div class="form-control-container">
                <label for="label" class="form-label">
                    Label
                    <input type="text"
                           {{#if error.fields.label}}style="border: 2px solid red;"{{/if}}
                           name="label"
                           value="{{body.label}}"
                           class="form-control"
                    >
                </label>
            </div>
            <div class="form-control-container">
                <label for="iconUrl" class="form-label">
                    Icon Url
                    <input type="text"
                           {{#if error.fields.iconUrl}}style="border: 2px solid red;"{{/if}}
                           name="iconUrl" 
                           value="{{body.iconUrl}}"
                           class="form-control"
                    >
                </label>
            </div>
            <button class="btn btn-primary btn-submit">Create</button>
        </form>
    </div>
</section>