<section>
    {{#with room}}
        <h1>{{name}} - Details</h1>
        <main>
            <div>
                <img src="{{imgURL}}" alt="">
            </div>
            <div>
    {{/with}}
                <h1>Facilities: </h1>
                {{#each facilities}}
                    <ul>
                        <li>{{label}}</li>
                    </ul>
                {{/each}}
            </div>
        </main>
</section>