    <div class="item">
        <p class="content">Accommodations</p>
    </div>
    <div class="item">
        <main class="layout">
            
            <div class="img-wrapper">
                 <img src="/static/img/main.png" class="img"> 
            </div>
            
            <div class="content">
                <p class="sub-header">Welcome to our Accommodation Service!</p>
                <p class="sub-header">Quickly options</p>
                <div class="btn-container">
                    <div class="btn-wrapper"><a href="/catalog">Browse</a></div>
                    {{#if hasUser}}
                    <div class="btn-wrapper"><a href="/create">Host</a></div>
                    {{/if}}
                </div>
            </div>
            
        </main>
    </div>
