<section>
    <h1>Login</h1>
    {{#if error}}
        <div>
            {{#each error}}
                {{this}}
            {{/each}}
        </div>
    {{else}}
        <main>
            <form action="/auth/login" method="post">
                <div>
                    <label for="name">
                        <span>Username</span>
                        <input type="text" name="username">
                    </label>
                </div>
                <div>
                    <label for="password">
                        <span>Password</span>
                        <input type="password" name="password">
                    </label>
                </div>
                <button>Sign in</button>
            </form>
        </main>
        <footer>
        <div>
            <span>You don't have an account? <a href="/auth/register">Sign up</a></span>
        </div>
        </footer>
    {{/if}}
</section>