<section>
    <h1>Login</h1>
    {{#if error}}
        <div>
            {{#each error.messages}}
                <div>{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
        <main>
            <form action="/auth/login" method="post">
                <div>
                    <label for="username">
                        <span>Username</span>
                        <input type="text" 
                               {{#if error.fields.username}}style="border: 2px solid red"{{/if}} 
                               name="username"
                               value="{{username}}"
                        >
                    </label>
                </div>
                <div>
                    <label for="password">
                        <span>Password</span>
                        <input type="password" 
                               {{#if error.fields.password}}style="border: 2px solid red"{{/if}} 
                               name="password">
                    </label>
                </div>
                <button>Sign in</button>
            </form>
        </main>
        <footer>
        <div>
            <span>You don't have an account? <a href="/auth/register">Sign up</a></span>
        </div>
        </footer>
</section>