<section>
    <h1 class="main-header">Login</h1>
    {{#if error}}
        <div class="error-box">
            {{#each error.messages}}
                <div class="error-field">{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
            <div class="form-wrapper">
                <form action="/auth/login" method="post">
                    <div clas="form-control-container">
                        <label for="username" class="form-label">
                            Username
                            <input type="text" 
                                   {{#if error.fields.username}}style="border: 2px solid red"{{/if}} 
                                   name="username"
                                   value="{{username}}"
                            >
                        </label>
                    </div>
                    <div class="form-control-container">
                        <label for="password" class="form-label">
                            Password
                            <input type="password" 
                                   {{#if error.fields.password}}style="border: 2px solid red"{{/if}} 
                                   name="password" 
                                   class="form-control"
                            >
                        </label>
                    </div>
                    <button class="btn btn-primary btn-submit">Sign in</button>
                </form>
            </div>
    
            <div>
                <span>You don't have an account? <a href="/auth/register">Sign up</a></span>
            </div>
</section>