<section>
    <h1>Register</h1>
    {{#if error}}
        <div>
            {{#each error.messages}}
                    <div>{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
        <main>
            <form action="/auth/register" method="post">
                <div>
                    <label for="username">
                        <span>Username</span>
                        <input type="text" 
                            {{#if error.fields.username}} style="border: 2px solid red;"{{/if}} 
                               name="username" 
                               value="{{username}}">
                    </label>
                </div>
                <div>
                    <label for="password">
                        <span>Password</span>
                        <input type="password" 
                            {{#if error.fields.password}} style="border: 2px solid red;"{{/if}} 
                               name="password">
                    </label>
                </div>
                <div>
                    <label for="repass">
                        <span>Repeat</span>
                        <input type="password" 
                            {{#if error.fields.repass}} style="border: 2px solid red;"{{/if}} 
                               name="repass">
                    </label>
                </div>
                <button>Sign Up</button>
            </form>
        </main>
        <footer>
            <div>
                <span>You already have an account? <a href="/auth/login">Sign in</a></span>
            </div>
        </footer>
</section>