<section>
    <h1>Register</h1>
    {{#if error}}
        <div>
            {{#each error}}
                {{this}}
            {{/each}}
        </div>
    {{else}}
        <main>
            <form action="/auth/register" method="post">
                <div>
                    <label for="username">
                        <span>Username</span>
                        <input type="text" name="username">
                    </label>
                </div>
                <div>
                    <label for="password">
                        <span>Password</span>
                        <input type="password" name="password">
                    </label>
                </div>
                <div>
                    <label for="repass">
                        <span>Repeat</span>
                        <input type="password" name="repass">
                    </label>
                </div>
                <button>Sign Up</button>
            </form>
        </main>
        <footer>
            <div>
                <span>You already have an account? <a href="/auth/login">Sign in</a></span>
            </div>
        </footer>
    {{/if}}
</section>