<section>
    <h1 class="main-header">Register</h1>
    {{#if error}}
        <div class="error-box">
            {{#each error.messages}}
                <div class="error-field">{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
        <div class="form-wrapper">
            <form action="/auth/register" method="post">
                <div class="form-control-container">
                    <label for="username" class="form-label">
                        Username
                        <input type="text" 
                            {{#if error.fields.username}} style="border: 2px solid red;"{{/if}} 
                               name="username" 
                               value="{{username}}"
                               class="form-control"
                        >
                    </label>
                </div>
                <div class="form-control-container">
                    <label for="password" class="form-label">
                        Password
                        <input type="password" 
                            {{#if error.fields.password}} style="border: 2px solid red;"{{/if}} 
                               name="password"
                               class="form-control"
                        >
                    </label>
                </div>
                <div class="form-control-container">
                    <label for="repass" class="form-label">
                        Repeat
                        <input type="password" 
                            {{#if error.fields.repass}} style="border: 2px solid red;"{{/if}} 
                               name="repass"
                               class="form-control"
                        >
                    </label>
                </div>
                <button class="btn btn-primary btn-submit">Sign Up</button>
            </form>
        </div>
            <div>
                <span>You already have an account? <a href="/auth/login">Sign in</a></span>
            </div>
</section>