.main-nav {
    width: 65%;
    margin-right: 50px;
}

.main-nav.right-nav {
    width: 100%;
}

.main-nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.right-ul  {
    justify-content: flex-end !important;
}

.main-nav li {
    display: flex;
    width: 80px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.main-nav>li:hover {
    border-radius: var(--radius);
    box-shadow: var(--shadow-btn);
}

.main-nav a {
    text-decoration: none;
    font-size: 20px;
}