@import url('./layout-header.css');
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: normal;
}

#page-content {
    position: relative;
    max-width: 980px;
    margin: auto;
    min-height: 100vh;
}

#page-content>header {
    position: relative;
}

#page-content>header::after{
    content: '';
    display: table;
    clear: both;
}

#page-content>main {
    padding-bottom: 48px;
}

#page-content>footer {
/*    TODO some styles*/
}