@import url('./layout-header.css');
@import url('./layout.css');
@import url('./layout-section.css');
@import url('./vars.css');
* {
    position: relative;
    font-family: Verdana, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #252525;
    font-weight: normal;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;    
}

#page-content {
    min-width: 320px;
    width: 100%;
    background: #dce9ff;
}

#page-content>header { 
    width: 100%;
    height: 75px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background: #d5d5d5;
}

#page-content>header::after{
    content: '';
    display: table;
    clear: both;
}

.username-container>a{
    text-decoration: none;
}

nav.main-nav>ul>li:hover {
    border: 1px solid #000000;
}

    
#page-content>main.main-content {
    padding: 25px 50px 50px 50px;
}

#page-content>footer.main-footer {
    padding: 20px;
    box-shadow: var(--shadow);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 22px;
    font-family: serif;
    font-weight: 600;
}

.error-box {
    color: red;
    padding: 16px 16px;
    margin: 32px;
    background-color: hsl(var(--action-color), var(--action-s), 25%);
    box-shadow: var(--shadow);
}

.error-field {
    border: 1px solid red;
}
/*Error validation END*/
